node_modules/
build/
dist/
*.log
.DS_Store
.env
.env.local
portal-manager/portals/
*.tsbuildinfo
coverage/
v4coverage/
.jest-cache/
.mcp.json
portal-manager/webui/__pycache__/*
.vscode/*
swagger.json
context_data/*
